In [50]:
from importlib import reload
#import pl_utilities
from polars import col as pcl
import pyarrow

In [ ]:
import pl_parser_v2
from pl_parser_v2 import *
import gc

In [7]:
df = pl.DataFrame({
    'A':[1, 2, 3, 4], 
    'B': ['abc', 'bc', 'aaa', None], 
    'C': ['2023-01-01','2021-01-01','2009-11-01','2000-11-11'],
    'E': [1.1, 2.1, 3.5, 0]}
).with_columns(pcl('C').str.to_datetime(format='%Y-%m-%d'))
var1 = 1
var2 = 10
var3 ='2025-01-01'
var4 = ['bc','aaa']
#"2 <= A  <= 3 ", df)
expr = "@var1 <= A < @var2  & C <= @var3 & B.str.contains('a')"
df_pd = df.to_pandas()

NameError: name 'pl' is not defined

In [274]:
var5 ='2001-01-01'
query_str =  "@var1 <= A < @var2 & C.dt.year >=2020 & B in @var4"
query_str = "B.str.contains('a|b', na=False)"
query_str = "C >'2010-01-01' & A > 1"
query_str = " B in ['aaa','bc']"
query_str = " A == 1"
query_str = " A ** 2 - E > 1"
query_str = " @var5 < C < @var3 "
query_str = " B.str.endswith('c', na=False)"
query_str = " not (B.isna() & A.notna())"
query_str = " A ** 2 - E > 1"
df_pd.query(query_str)

   A     B          C    E
1  2    bc 2021-01-01  2.1
2  3   aaa 2009-11-01  3.5
3  4  None 2000-11-11  0.0

In [ ]:
reload(pl_parser_v2)
#query_str = "B.str.contains('a|b')"
#query_str = " B.str.endswith('c')"
#df = df.with_columns(F=parse_polars_expr(query_str="A > 1", df_schema=df.schema) )
#query_str="F"
query_str = "F = select([A > 1, C.dt.year > 2000, E < 10], [1, 2, 4], 0) ; G = @var6"
query_str = " A in [2]"
#expr = parse_polars_expr(query_str=query_str, df_schema=df.schema)
#print("Polars expression:", expr)
#print("Filtered result:")
#print(df.filter(expr))
df.query(query_str)
#var6 =[1,2,3,4]
#df.eval(query_str, mode ='assign')
#df.eval(query_str, mode='assign')
#df.filter(pl.col('B').is_in(['abc']))

list_lit called [2.0]
in_expr called with args= [<Expr ['col("A")'] at 0x131C7D690>, [2.0]]
col("A").is_in([Series])

shape: (1, 4)
┌─────┬─────┬─────────────────────┬─────┐
│ A   ┆ B   ┆ C                   ┆ E   │
│ --- ┆ --- ┆ ---                 ┆ --- │
│ i64 ┆ str ┆ datetime[μs]        ┆ f64 │
╞═════╪═════╪═════════════════════╪═════╡
│ 2   ┆ bc  ┆ 2021-01-01 00:00:00 ┆ 2.1 │
└─────┴─────┴─────────────────────┴─────┘

In [49]:
reload(pl_parser_v2)
gc.collect()
query_str = " C in ['2023-01-01']"
df.query(query_str)

shape: (1, 4)
┌─────┬─────┬─────────────────────┬─────┐
│ A   ┆ B   ┆ C                   ┆ E   │
│ --- ┆ --- ┆ ---                 ┆ --- │
│ i64 ┆ str ┆ datetime[μs]        ┆ f64 │
╞═════╪═════╪═════════════════════╪═════╡
│ 1   ┆ abc ┆ 2023-01-01 00:00:00 ┆ 1.1 │
└─────┴─────┴─────────────────────┴─────┘

In [8]:
from importlib import reload
import polynx
reload(polynx)
import polynx as plx
import polars as pl

In [9]:
df = pl.DataFrame({
    'A':[1, 2, 3, 4], 
    'B': ['abc', 'bc', 'aaa', None], 
    'C': ['2023-01-01','2021-01-01','2009-11-01','2000-11-11'],
    'E': [1.1, 2.1, 3.5, 0]}
).with_columns(pl.col('C').str.to_datetime(format='%Y-%m-%d',time_unit='ns'))

df_plx = plx.DataFrame(df)

AttributeError: module 'polynx' has no attribute 'DataFrame'

In [30]:
var5 ='2001-01-01'
var3 = '2020-01-01'
query_str =  "@var1 <= A < @var2 & C.dt.year >=2020 & B in @var4"
query_str = "B.str.contains('a|b')"
query_str = "C >'2010-01-01' & A > 1"
#query_str = " B in ['aaa','bc']"
#query_str = " A == 1"
#query_str = " A ** 2 - E > 1"
#query_str = " @var5 < C < @var3 "
#query_str = " B.str.ends_with('c')"
#query_str = " not (B.is_null() & A.is_not_null())"
#query_str = " A ** 2 - E > 1"
query_str = "A.sum().over('B') > 1"

df_plx.query(query_str)

#dir(df)

shape: (3, 4)
┌─────┬──────┬─────────────────────┬─────┐
│ A   ┆ B    ┆ C                   ┆ E   │
│ --- ┆ ---  ┆ ---                 ┆ --- │
│ i64 ┆ str  ┆ datetime[ns]        ┆ f64 │
╞═════╪══════╪═════════════════════╪═════╡
│ 2   ┆ bc   ┆ 2021-01-01 00:00:00 ┆ 2.1 │
│ 3   ┆ aaa  ┆ 2009-11-01 00:00:00 ┆ 3.5 │
│ 4   ┆ null ┆ 2000-11-11 00:00:00 ┆ 0.0 │
└─────┴──────┴─────────────────────┴─────┘